/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}



.banner {
    width: 100%; 
    overflow: hidden; 
}

.banner img {
    width: 100%;
    height: auto; 
    display: block; 
}

.contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f2f2f2;
}

.info-contacto {
    width: 45%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.info-contacto h2 {
    color: #333;
}

.info-contacto ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.info-contacto li {
    margin-bottom: 10px;
    color: #555;
}

.info-contacto i {
    margin-right: 10px;
}

.redes-sociales {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.redes-sociales a {
    display: block;
    margin-right: 15px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.formulario-contacto {
    width: 45%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
}

.formulario-contacto label {
    color: #333;
    margin-bottom: 5px;
}

.formulario-contacto input, .formulario-contacto textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.formulario-contacto textarea {
    height: 150px;
}

.formulario-contacto button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-contacto button:hover {
    background-color: #555;
}


main {
    background-color: #cccccc;
}

.titulo-seccion {
    color: #2980b9;
}

.formulario {
    background-color: white;
}



/* Estilos del menú */
.navbar {
    background-color: #121212 !important; 
    padding: 15px 0; 
}

.navbar-brand {
    font-weight: 600; 
    font-size: 1.2rem; 
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    margin-left: 30px; 
    font-weight: 500;
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #00b0ff !important; 
}

.navbar-nav .nav-link.active { 
    color:  #00b0ff !important; 
    font-weight: 600;
}